#root {
  width: 70vw;
  height: 100vh;
  margin: 0 auto;
}

.component {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.TaskList {
  width: 38%;
  overflow-y: scroll;
}
.TaskList .Tasks_service {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.TaskList .Tasks_service span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: rgb(41, 224, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  transition: 0.1s ease;
}
.TaskList .Tasks_service span .fa-plus {
  font-size: 25px;
  color: white;
}
.TaskList .Tasks_service span:hover {
  background-color: rgb(22, 143, 22);
}
.TaskList .Tasks {
  list-style: none;
  padding: 0;
}
.TaskList .Tasks li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  height: 50px;
  border: 1px solid black;
  margin: 10px auto 0;
}
.TaskList .Tasks li p {
  display: inline-block;
  width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.TaskList .Tasks li .btns_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 150px;
}
.TaskList .Tasks li .btns_container button {
  width: 30px;
  border: 1px solid lightgray;
  margin-right: 10px;
}
.TaskList .Tasks li .btns_container button .fa-solid {
  font-size: 20px;
  pointer-events: none;
}
.TaskList .Tasks li .btns_container button .fa-check {
  color: rgba(31, 119, 6, 0.987);
}
.TaskList .Tasks li .btns_container button .fa-play {
  color: blue;
}
.TaskList .Tasks li .btns_container button .fa-trash {
  color: red;
}
.TaskList .Tasks li:hover {
  box-shadow: 3px 0 3px 3px lightgray;
}

.TaskEdit {
  width: 58%;
  display: flex;
  flex-wrap: wrap;
}
.TaskEdit h2 {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}
.TaskEdit .Title_Edit,
.TaskEdit .Description_Edit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.TaskEdit .Title_Edit label,
.TaskEdit .Description_Edit label {
  margin-bottom: 20px;
}
.TaskEdit .Title_Edit {
  height: 150px;
}
.TaskEdit .Title_Edit input {
  max-height: 30px;
  width: 80%;
  border: none;
  border-bottom: 2px solid lightgray;
  font-size: 1.2rem;
  outline: none;
}
.TaskEdit .Description_Edit textarea {
  width: 80%;
  resize: none;
  font-size: 1.5em;
  outline: none;
  border: 2px solid lightgray;
}
.TaskEdit .changes_accept {
  width: 100px;
  height: 30px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgb(64, 98, 200);
  color: white;
  transition: 0.2s;
}
.TaskEdit .changes_accept:hover {
  background-color: rgb(23, 71, 215);
}
.TaskEdit .changes_accept:active {
  background-color: rgb(4, 35, 126);
}

.button {
  outline: none;
  border: 1px solid lightgray;
  background: none;
}

.play {
  background-color: #32E6E4;
}

.complited {
  background-color: #29F23A;
}

.selected {
  background-color: rgb(210, 154, 86);
}/*# sourceMappingURL=App.css.map */